/**
 * @name midnight
 * @description a dark, customizable discord theme.
 * @author refact0r
 * @version 2.1.1
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/themes/midnight.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* import theme modules */
@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

body {
    /* font options */
    --font: 'figtree'; /* change to '' for default discord font */
    --code-font: ''; /* change to '' for default discord font */
    font-weight: 400; /* normal text font weight. DOES NOT AFFECT BOLD TEXT */

    /* sizes */
    --gap: 12px; /* spacing between panels */
    --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
    --border-thickness: 1px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */

    /* animation/transition options */
    --animations: on; /* off: disable animations/transitions, on: enable animations/transitions */
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */
    --border-hover-transition: 0.2s ease; /* transition for borders when hovered */

    /* top bar options */
    --top-bar-height: var(--gap); /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
    --top-bar-button-position: titlebar; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

    /* window controls */
    --custom-window-controls: off; /* off: default window controls, on: custom window controls */
    --window-control-size: 14px; /* size of custom window controls */

    /* dms button options */
    --custom-dms-icon: off; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
    --dms-icon-svg-url: url('https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg'); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 90%; /* size of the svg (css mask-size property) */
    --dms-icon-color-before: var(--icon-subtle); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
    --custom-dms-background: off; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
    --dms-background-image-url: url(''); /* url of the background image */
    --dms-background-image-size: cover; /* size of the background image (css background-size property) */
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2)); /* fixed color/gradient (css background property) */

    /* background image options */
    --background-image: on; /* off: no background image, on: enable background image (must set url variable below) */
    --background-image-url: url('https://raw.githubusercontent.com/orangci/walls-catppuccin-mocha/refs/heads/master/rainy-window.jpeg'); /* url of the background image */

    /* transparency/blur options */
    /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
    --transparency-tweaks: off; /* off: no changes, on: remove some elements for better transparency */
    --remove-bg-layer: off; /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
    --panel-blur: on; /* off: no changes, on: blur the background of panels */
    --blur-amount: 18px; /* amount of blur */
    --bg-floating: var(--bg-3); /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

    /* chatbar options */
    --custom-chatbar: off; /* off: default chatbar, separated: chatbar separated from chat */
    --chatbar-height: 47px; /* height of the chatbar (56px by default, 47px to align with user panel, 56px recommended for separated) */

    /* other options */
    --small-user-panel: on; /* off: default user panel, on: smaller user panel like in old discord */
}

/* color options */
:root {
    --colors: on;

    /* text colors */
    --text-0: #11111b;
    --text-1: #cdd6f4;
    --text-2: #bac2de;
    --text-3: #a6adc8;
    --text-4: #7f849c;
    --text-5: #585b70;

    /* background colors */
    --bg-1: hsla(240, 21%, 15%, 1);
    --bg-2: hsla(240, 21%, 13%, 1);
    --bg-3: hsla(240, 21%, 11%, 0.90);
    --bg-4: hsla(240, 23%, 9%, 0.85);

    /* interaction */
    --hover: hsla(217, 92%, 76%, 0.08);
    --active: hsla(217, 92%, 76%, 0.14);
    --active-2: hsla(217, 92%, 76%, 0.20);
    --message-hover: hsla(240, 15%, 20%, 0.35);

    /* accents */
    --accent-1: #89b4fa;
    --accent-2: #89b4fa;
    --accent-3: #74c7ec;
    --accent-4: #89dceb;
    --accent-5: #b4befe;

    --accent-new: #cba6f7;

    --mention: linear-gradient(to right, rgba(137,180,250,0.15) 40%, transparent);
    --mention-hover: linear-gradient(to right, rgba(137,180,250,0.22) 40%, transparent);

    --reply: linear-gradient(to right, rgba(166,173,200,0.10) 40%, transparent);
    --reply-hover: linear-gradient(to right, rgba(166,173,200,0.16) 40%, transparent);

    /* status colors */
    --online: #a6e3a1;
    --dnd: #f38ba8;
    --idle: #f9e2af;
    --streaming: #cba6f7;
    --offline: #6c7086;

    /* borders */
    --border-light: rgba(255,255,255,0.05);
    --border: rgba(180,190,254,0.10);
    --border-hover: rgba(180,190,254,0.18);
    --button-border: rgba(255,255,255,0.06);

    /* catppuccin palette */
    --red-1: #f38ba8;
    --red-2: #eba0ac;
    --red-3: #fab387;
    --red-4: #f9e2af;
    --red-5: #f2cdcd;

    --green-1: #a6e3a1;
    --green-2: #94e2d5;
    --green-3: #89dceb;
    --green-4: #74c7ec;
    --green-5: #89b4fa;

    --blue-1: #89b4fa;
    --blue-2: #74c7ec;
    --blue-3: #89dceb;
    --blue-4: #b4befe;
    --blue-5: #cba6f7;

    --yellow-1: #f9e2af;
    --yellow-2: #fab387;
    --yellow-3: #eba0ac;
    --yellow-4: #f38ba8;
    --yellow-5: #cba6f7;

    --purple-1: #cba6f7;
    --purple-2: #b4befe;
    --purple-3: #89b4fa;
    --purple-4: #74c7ec;
    --purple-5: #89dceb;
}
